<!-- Top orange bar -->
<div class="site-header">
  <span class="chop-acronym">
    <span class = "chop-letter">CHOP:</span>
  <span class="chop-letter">C</span>ounty
  <span class="chop-letter">H</span>ealth
  <span class="chop-letter">O</span>pen-source
  <span class="chop-letter">P</span>roject
</div>


<!-- Sticky blue navbar with logo and links -->
<nav class="navbar">
  <div class="navbar-inner">
    <!-- Logo on the left -->
    <a href="index.qmd" class="site-logo">
      <img src="images/choplogo_gpt_nobackground.png" alt="placeholder C.H.O.P. Logo">
    </a>

    <!-- Navbar links -->
    <a href="https://countyhealthrankings.shinyapps.io/snapshot/">
      County Health Snapshots<br><span class="badge-dev">(IN DEVELOPMENT)</span>
    </a>
    <a href="archives.qmd">The CHR&R Archives</a>
    <a href="community.qmd">
      County Health Open-source Community<br><span class="badge-dev">(COMING SOON)</span>
    </a>
    <a href="about.qmd">About Us</a>
  </div>
</nav>
