<!-- Top navy bar -->
<div class="site-header">
  <div class="header-inner">
    <a href="index.html" class="home-link">
      <img src="images/choplogo_gpt_nobackground.png" class="site-logo" alt="Site Logo">
      <div class="site-title">
        <span class="title-line-1">County Health</span>
        <span class="title-line-2">Open-source Project</span>
      </div>
    </a>
  </div>
</div>


<!-- Sticky orange navbar with links -->
<nav class="navbar">
  <div class="navbar-inner">
    <a href="https://countyhealthrankings.shinyapps.io/snapshot/">
      County Health Snapshots<br><span class="badge-dev">(IN DEVELOPMENT)</span>
    </a>
    <a href="archives.qmd">The CHR&R Archives</a>
    <a href="community.qmd">
      County Health Open-source Community<br><span class="badge-dev">(COMING SOON)</span>
    </a>
    <a href="about.qmd">About Us</a>
  </div>
</nav>
